# google colaboratory

Week 1:
- Introduction to Python programming language
- - overview of data analysis
- Anaconda: In this lesson, you will be getting a quick glimpse at the Anaconda
environment - one of the most popular environments for doing data analysis in
Python.
- Jupyter Notebooks: Jupyter Notebooks are a great tool for getting started with
writing python code. Though in production you often will write code in scripts,
notebooks are wonderful for sharing insights and data viz! The Data Analysis
Process Learn about the data analysis process and practice investigating different
datasets using Python and its powerful packages for data analysis.
- Variables, data types, and basic operations
- Working with strings and string manipulation

 # Variables and Datatypes

In [ ]:
print("hello world!")

In [1]:
number = 2
type(number)

name = 'caleb'
print(name)

caleb

In [2]:
print(type(number))

<class 'int'>

In [ ]:
first_number = int(input("enter the value: "))
second_number = int(input("enter the second value: "))

In [ ]:
first_number, second_number

In [ ]:
first_number * second_number

In [ ]:
result = first_number/second_number
print("the result is:", result)

In [ ]:
type(number)num = int(input("enter the number : "))

In [4]:
print("W \bord")

W ord

2, 2.0,wee

In [ ]:
x =2.0
type(x)

# Python Escape Character Sequences
-  ' '	Single Quote
- \\	Backslash
- \n	New Line
- \t	Tab
- \b	Backspace

# Python Operators 
- Arithmetic operators
- Assignment operators
- Comparison operators
- Logical operators
- Identity operators
- Membership operators
- Bitwise operators

https://www.w3schools.com/python/python_operators.asp

==  !=  >  >=  <  <=  is  is not  in  not in : menbership operators

### division of integer

In [ ]:
##### first_number=8
second_number=int(input('the dividend is'))
result=first_number/second_number
print('the quotient:',result)

### addition of floats

In [ ]:
first_number=45.8
second_number=int(input('the missing number is'))
result=first_number+second_number
print('the sum is:',result)

### subtraction of float from integer

In [ ]:
first_number=56
second_number=float ( input('the second number is'))
result=first_number-second_number
print('the difference is:',result)

### area of a cone( pi*radius cube*slant height)

In [ ]:
pi=3.14
radius=int(input('the radius is'))
slant_height=5.6
result=pi*radius*slant_height
print('the area of cone is:',result)

### area of a rectangle

In [ ]:
pi=3.14
radius=3**3
slant_height=int(input ('the height is'))
result=pi*radius*slant_height
print('the area of cone is:',result)

In [ ]:
pi=3.14
radius=3**3
slant_height= float(input('the height is'))
result=pi*radius*slant_height
print('the area of cone is:',result)

# list

In [14]:
my_list.insert(1,5)

In [15]:
print(my_list)

[1, 5, 2, 3, 4]

In [ ]:
#creating a list
list_1 =['b','r','i','g','h','t']

In [ ]:
text = 'emmanuel'
l2 = list(text)
print(l2)
#converting string(ie numbers )to integers
num_text = '12345'
num_list = [int(x)for x in list(num_text)]
print(num_list)

In [ ]:
a= 'bright'
list_2 =[a]
#printing out the values of your
print(list_1)

# list operations
- indexing,slicing operation:a way to refer the individual terms within an iterable by its position
- insert(): add items to a list in a specific position
- remove():removes the first occurence of the element with the specified value
- append(); it is a pre-defined method used to add a single item to certain collection types
- sort():arranging data in a particular order
- index():refer to a position within an ordered list
- min(), max()
- pop()
- clear()

In [28]:
score = [2,3,5,7,1,7,9]
min(score)

1

In [29]:
max(score)

9

In [16]:
my_list = [1,2,3,4]
print(my_list)

[1, 2, 3, 4]

In [18]:
my_list.append(6)
print(my_list)

[1, 2, 3, 4, 6]

In [22]:
#remove
my_list.remove(2)

In [23]:
print(my_list)

[1, 3, 4, 6]

In [25]:
#Creating a list
list_2 = [1,4,2,5,7,4,0,9,8]
list_2.sort()

In [26]:
print(list_2)

[0, 1, 2, 4, 4, 5, 7, 8, 9]

In [30]:
min_score = min(list_2)
print(min_score)

0

In [31]:
max_score = max(list_2)
print(max_score)

9

In [20]:
#q2a##len is used in getting the exact length of the above given list
len(list_2)

9

In [ ]:
####list indexing/slicing operations

In [ ]:
#1st element
list_2[0]

In [ ]:
list_2[1]

In [ ]:
list_2[-1]

In [35]:
list_2

[0, 1, 2, 4, 5, 7, 8, 9]

In [40]:
#slicing operations
list_2[2:5]

[2, 4, 5]

In [ ]:
list_2[2:4]

In [ ]:
list_2[2:5]

insert is used to add an element to the list

In [ ]:
#in this case insert is used to add 2 and 6
list_2.insert(-1,12)
print(list_2)

In [ ]:
str_list = ["mango", 'banana', 'orange']

In [ ]:
#remove is used to abolish 4 from the list
list_2.remove(4)

In [ ]:
#this is calling list 2 to find out if the recent activity  has been performed
list_2

In [ ]:
#append is used to add a single element to a list
list_2.append(25)

In [ ]:
list_2

In [ ]:
#sort is used to arrange data in a particular order
list_2.sort()

In [ ]:
list_2

In [ ]:
#it is used to refer to a position in a list
list_2.index(4)

In [ ]:
#it is used to identify the lowest value
min(list_2)

In [ ]:
#it is used to identify the highest value
max(list_2)

In [32]:
#it removes an item from a specific index

list_2.pop(3)

4

In [ ]:
list_2

In [ ]:
#it is used to remove all items on a list
list_2.clear()

In [ ]:

list_2

In [ ]:
#creating a new list
list_3=[1,2,3,4,5,6,7,8]
list_4 = ['2','4']

In [ ]:
#extend can be used to join two lists together
list_3.extend(list_4)

In [ ]:
#printing the outcome
print('list after extend():',list_3)

In [ ]:
l_4 = [1,2,3,4,5,6,7,8]

In [ ]:
l_4[:3]

## TUPLE
> Tuple is a collection which is ordered and unchangeable. it is used to store multiple items in a single variable.

In [42]:
num = '2'
int(num)*5

10

In [ ]:
score = (1,2,3)

In [46]:
#creating a tuple
tuple_1=('emem','lionel','blessing')
print(tuple_1)
print(type(tuple_1))

('emem', 'lionel', 'blessing')
<class 'tuple'>

In [47]:
#switching a tuple to a list
list_8=list(tuple_1)
print(list_8)
print(type(list_8))

['emem', 'lionel', 'blessing']
<class 'list'>

In [ ]:
type(list_8)

In [ ]:
#switching a list to a tuple
tuple_1=tuple(list_8)
print(tuple_1)

In [ ]:
####Dealing with set2
fruits_1={'orange','mango','watermelon',"salt",'pear','avocado'}
fruits_2={'strawberry','blueberry','pear','mango','raspberries', "salt"}
fruits_2.discard("pear")
print(fruits_2)

In [ ]:
#Using the update set operation
# fruits_2=list(fruits_2)
# print(fruits_2)
fruits_1.update(("fruits_2", "grains",))
print(fruits_1)

In [ ]:
#Using the remove set operation 
fruits_1.remove("mango")

In [ ]:
#calling fruits_1
fruits_1

In [ ]:
#using the union set operation
fruits_1.union(fruits_2)

In [ ]:
#Using the union sign to write a code
fruits_1|fruits_2

In [ ]:
#using the intersection set operations
fruits_1.intersection(fruits_2)

In [ ]:
#using the intersection sign to write a code 
fruits_1 & fruits_2

In [ ]:
#using the difference sign to write the code
print(fruits_1,'\n\n',fruits_2)
fruits_1 - fruits_2

In [ ]:
#Using the difference set operation
fruits_1.difference(fruits_2)

In [ ]:
#USING THE SYMMETRIC DIFFERENCE
fruits_1 ^ fruits_2

In [ ]:
fruits_1.symmetric_difference(fruits_2)

In [ ]:
a={2,3}
b={9,8,7,0,2,3,4}

In [ ]:
a.issubset(b)

In [ ]:
b.issuperset(a)

In [ ]:
a.isdisjoint(b)